@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

@font-face {
    font-family: 'Crazy Sixties';
    src: url('crazy_sixties-webfont.woff2') format('woff2'),
        url('crazy_sixties-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Open Sans';
    src: url('opensanscondensed-light-webfont.woff2') format('woff2'),
        url('opensanscondensed-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* 
COLOR PALLETE:
001d26
2a93d5
37caec
*/

html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar {
    width: 100%;
    text-align: center;
    margin-top: 1vh;
    height: 14vh;
}

.navbar .nav-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    margin: 0px 100px 0px 100px;
}

.navbar .logo {
    height: 30%;
}

.navbar .logo img {
    height: 100%;
    filter: invert(10%) sepia(24%) saturate(2180%) hue-rotate(151deg) brightness(97%) contrast(105%);
}

.navbar .nav-list {
    display: flex;
    justify-content: flex-end;
}

.navbar .nav-list a {
    font-size: 1.2rem;
    padding: 5px 5px 5px 5px;
    margin: 0 20px 0 20px;
}

.navbar .nav-list a.nav-list-selected {
    border: solid 2px #2a93d5;
}

.navbar .nav-list li {
    font-family: 'Crazy Sixties';
    list-style: none;
}

.navbar .nav-list a {
    text-decoration: none;
    color: #2a93d5;
}

.navbar .nav-list a:hover li {
    /* S */
    color: #2a93d5;
}

/* MAIN CONTENT */
.main {
    display: flex;
    height: 80vh;
    align-items: center;
    margin: 0 10%;
}

.main .personal-photo {
    flex-basis: 50%;
}

.main .personal-photo img {
    width: 80%;
    max-height: 80%;
}

.main .description {
    flex-basis: 50%;
}

.main .description .hello-text {
    font-family: "Crazy Sixties";
    font-size: 7.5vw;
    margin: 0;
}

.main .description .name-text {
    color: #2a93d5;
}

.main .description .about-text {
    font-family: 'Open Sans';
    font-size: 1.5vw;
}

.main .mywork-container {
    padding: 2vh 0;
}

.main .mywork-container a {
    font-family: 'Crazy Sixties';
    font-size: 1.1vw;
    text-decoration: none;
    color: #fff;
    background-color: #2a93d5;
    padding: 2vh;
    display: flex;
    align-items: center;
    width: 7vw;
    box-shadow: 5px 5px 0px 0px rgba(55, 202, 236, 0.75);
    -webkit-box-shadow: 5px 5px 0px 0px rgba(55, 202, 236, 0.75);
    -moz-box-shadow: 5px 5px 0px 0px rgba(55, 202, 236, 0.75);
}

.main .mywork-container a p {
    margin: 0;
    flex-basis: 75%;
}

.main .mywork-container a img {
    width: 5%;
    flex-basis: 25%;
}

.arrow-icon {
    background-image: url(img/Arrow.svg);
}

/* CONTACT */
.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 85vh;
    background-color: #2a93d5;
}

.contact h2 {
    text-align: center;
    font-family: 'Crazy Sixties';
    font-size: 1.7vw;
    color: #fff;
    margin: 2vh;
}

.contact .contact-icon-list {
    display: flex;
    justify-content: space-evenly;
    width: 15vw;
    margin: auto;
}

.contact .icon img {
    height: 6vh;
    filter: invert(100%) sepia(0%) saturate(4884%) hue-rotate(177deg) brightness(124%) contrast(110%);
}

.contact .icon img:hover {
    box-shadow: 0px 6px 30px rgba(255, 255, 255, 0.5);
    border-radius: 190px;
}

/* FOOTER */