@import "../../assets/css/GlobalPage.scss";
@import "../../assets/css/ColorPallete.scss";

.homepage {
  padding-top: $padding-top;  
  background: $white;
  height: 88vh;

  .title {
    z-index: 1;
    padding-bottom: 150px;
  }

  .container {
    position: relative;
    height: 100%;
    display: flex;
  }

  .home-photo {
    position: absolute;
    right: 0;
    bottom: 0;
    max-height: 100%;
    z-index: 0;
  }
}

@media (max-width: 990px) {
  .homepage {
    .home-photo {
      width: 80%;
    }
  }
}
